body {

  margin: 0;

  font-family: Arial;

  background: #121212;

  color: white;
}

.container {

  max-width: 500px;

  margin: auto;

  padding: 20px;
}

.balance-card {

  background: #1f1f1f;

  padding: 20px;

  border-radius: 10px;

  margin-bottom: 20px;
}

form {

  display: flex;

  flex-direction: column;

  gap: 10px;
}

input,
button {

  padding: 12px;

  border-radius: 8px;

  border: none;
}

button {

  background: #4caf50;

  color: white;

  cursor: pointer;
}

.transaccion-item {

  background: #1f1f1f;

  padding: 15px;

  margin-top: 10px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  border-radius: 10px;
}
.resumen {

  display: flex;

  justify-content: space-between;

  margin-top: 20px;
}

.ingreso {

  color: #4caf50;

  font-weight: bold;
}

.gasto {

  color: #f44336;

  font-weight: bold;
}